.main {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: hsla(0, 1%, 24%, 0.255);
}

.assistir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  p {
    color: #fff;
    font-size: 1.5rem;
  }
}

.filmes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .filmes {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}